@font-face {
  font-family: 'HankenGrotesk';
  src: url(/HankenGrotesk.ttf);
}

:root {
  font-family: HankenGrotesk, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #f8f8f8;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-family: 'HankenGrotesk';
  color: #f8f8f8;
  text-decoration: inherit;
}
a:hover {
  color: #ddd;;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#canv {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__toggle {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}

.navbar__menu {
  display: flex;
}

.navbar__item {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__item:hover {
  color: #ddd;
}