@font-face {
  font-family: 'HankenGrotesk';
  src: url(/fonts/HankenGrotesk.ttf);
}
@font-face {
  font-family: 'Jakarta';
  src: url(/fonts/PlusJakartaSans-Regular.ttf);
}

:root {
  font-family: 'HankenGrotesk', Helvetica, Arial, sans-serif;
  --Text: #f8f8f8;
  --TextHover: #ddd;

  color: #f8f8f8;
  background-color: #141414;
}

body {
  padding: 0;
  margin: 0;
}

a {
  font-family: 'HankenGrotesk';
  color: var(--Text);
  text-decoration: none;
}
a:hover {
  color: var(--TextHover);
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.5rem 5.5rem;
}

#navbar a {
  font-family: 'HankenGrotesk';
  font-size: 2.7vw;
  line-height: 0.9;
}

#navbar p {
  font-family: 'Jakarta';
  margin: 0;
  line-height: 1.5;
  font-size: 1.3vw;;
  color: #8B8B8B;
}

#navbar a:hover {
  color: #ddd;;
}

#container {
  overflow: hidden;
}

#footer {
  width: calc(100%);
  box-sizing: border-box;
  padding: 0.7rem 5.5rem;
  border: #3f3f3f;
  border-width: 1px;
  border-style: solid;
  background-color: #1a1a1a;
}

.breadcrumb {
  position: absolute;
  padding: 1.5rem 3.5rem;
}

.breadcrumb ul {
  font-family: 'Jakarta';
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.3rem;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inherit;
  align-items: center;
}

.breadcrumb ul a {
  font-size: 1.5rem;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .55rem;
  content: "/";
}